--extra-index-url https://download.pytorch.org/whl/cpu
sounddevice
numpy
scipy
noisereduce
pydub
sarvamai
python-dotenv
groq
google-genai
openai
torch
onnxruntime
sentence-transformers
torchaudio<2.6.0
soundfile
streamlit
streamlit-mic-recorder
fastapi
uvicorn
python-multipart
httpx
rapidfuzz
asyncpg>=0.29.0
sqlalchemy[asyncio]>=2.0.32
redis>=5.0.1
alembic>=1.13.1


